{% extends 'base.html.twig' %}
{% block title %}Les abeilles françaises: Inscription!
{% endblock %}

{% block monTitre %}Inscrivez-vous dans notre ruche!
{% endblock %}

{% block body %}
	<div class="container my-4">
		{{ form_start(form)}}
		{{form_row(form.name)}}
		{{form_row(form.surname)}}
		{{form_row(form.email)}}
		{{form_row(form.password)}}
		<small class="form-text text-muted mb-3">Le mot de passe doit faire minimum 10 caractères et doit contenir au moins 1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spécial</small>
		{{form_widget(form)}}
		{{form_end}}
		<div class="row container justify-content-between mt-5">
			<input type="submit" value="S'inscrire" class=" col-6 btn btn-colorPrimary shadow">

			<a class="col-6 d-flex justify-content-center btn btn-colorSecondary shadow" href="{{path('login')}}">Déjà membre?</a>

		</div>
	</div>
{% endblock %}
