{% extends 'base.html.twig' %}

{% block title %}Les abeilles françaises: un pot de
	{{products.name}}!
{% endblock %}
{% block monTitre %}
	{{products.name}}
{% endblock %}

{% block body %}
	<section
		class=" container productslist my-5 col-lg-9 text-center">
		{# Product section start #}
		<div class="card mt-4">
			<div class="d-flex justify-content-center my-4">
				<img class="card-img-top img-fluid imgProd" src="{{asset('images/miel/' ~ products.image)}}" alt="image pot de {{products.name}}" style="width:40%">
			</div>
			<div class="card-body">
				<h3 class="card-title">{{products.name}},
					{{products.weightInGr}}
					gr</h3>
				<h4>{{products.price| format_currency('EUR')}}</h4>
				{% if product.stock == 0 %}
					<p class="alert alert-warning" role="alert">
						Patience, il sera bientôt de retour.
					</p>
				{% elseif product.stock <= 5 %}
					<p class="alert alert-danger" role="alert">
						Attention il ne reste plus que
						<strong>{{product.stock}}</strong>
						miels!
					</p>
				{% endif %}
				<p class="card-text">{{products.description}}</p>
				<hr>
				<p class="card-text">
					Produit par:
					{{product.beekeeper.name}}
					à
					{{product.beekeeper.region}}</p>
				<hr>
				{% if product.stock ==0 %}
					<button type="button" class="btn shadow btn-colorPrimary" disabled>Non disponible actuellement</button>
				{% else %}
					<a href="{{path('cart_add', {'id': product.id})}}" class="btn btn-colorPrimary shadow col">Ajouter au panier</a>

				{% endif %}
			</div>
		</div>
		{# Product section finish #}

		{# Comments part begin #}
		<div class="card card-outline-secondary my-4 text-left">
			<div class="card-header text-center">
				Avis sur ce miel ({{product.coments.count}}
				avis)
			</div>
			<div class="card-body">
				{% for comment in product.coments %}
					<p>{{comment.containt}}</p>
					<small class="text-muted">Écrit par
						{{comment.user.name|capitalize}}
						{{comment.user.surname|capitalize}}
						{{comment.publishedAt| ago}}</small>
					<hr>
				{% endfor %}
			</div>
			{# Comments part finish #}
			{% if app.user %}
				{# leaveComments start #}
				<div class="row">
					<div class="col-md-12">
						<form method="POST" action="{{path('new_comment',{'product':product.id})}}">
							<div class="form-group container">
								<label for="exampleFormControlTextarea1" class="ml-3">Laisser un commentaire:</label>
								<textarea name="comment" required class="form-control" id="exampleformcontroltextarea1" rows="3"></textarea>
							</div>
							<div class="d-flex justify-content-center">
								<button type="submit" class="btn btn-colorPrimary shadow ml-5 mb-4">Ajouter mon commentaire</button>
							</div>
						</form>
					</div>
				</div>
			{% else %}
				<div class=" d-flex justify-content-around align-items-center">
					<p class="text-center">
						Pour laiser un commentaire, vous devez être connecté</p>
					<a href="{{path('login')}}" class="btn btn-colorSecondary shadow ml-5 mb-4">Se connecter</a>
				</div>
			{% endif %}
		</div>
		{# leaveComments finish #}

	</section>
{% endblock %}
